@import "../../node_modules/tailwindcss";

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: button;
  opacity: 1;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: button;
  opacity: 1;
  margin: 0;
}
